################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/26 Graph/.vs/26 Graph/v16
/23. Binary Search Tree/.vs/23. Binary Search Tree/v16
